a 
{
  display: block;
  color: white; 
  text-align: center;
  text-decoration: none;
}


a:hover
{
  color: rgba(255,255,255,.5);
}

.error-text
{
  text-align: center;
  color: red;
  
}

.Box
{
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
}

h1
{
  color: white;
  font-size: 55px;
  margin-bottom: 100px
}

.registrationFont
{
  margin-top: 7.5%;
  letter-spacing: 8px;

  font-size: 45px;
  font-family: Roboto;
  font-weight: bold;
  color: white;

  display: flex;
  justify-content: center;
}

.group        
{ 
  position:relative; 
  margin-bottom:45px; 
}
input
{
  background: #212F3C;
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}

input:focus
{
  outline:none;
}

label
{
  color:white; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
}

input:focus ~ label, input:valid ~ label
{
  top:-20px;
  font-size:14px;
  color:white;
}

.bar
{ 
  position:relative; 
  display:block; 
  width:315px; 
}

.bar:before, .bar:after
{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:white; 
  transition:0.3s ease all; 
}
.bar:before 
{
  left:50%;
}
.bar:after 
{
  right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after 
{
  width:50%;
}

input:focus ~ label, input:valid ~ label 
{
  top:-20px;
  font-size:14px;
  color:white;
}

input, select, textarea
{
  color:white;
}

.buttonPosition
{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5%;
  margin-bottom: 7.5%;
}

.button
{
  cursor: pointer;

  font-weight: bold;
  border:1px solid white;
  white-space: nowrap;
  background-color: #212F3C;


  font-size: 90%;
  color: white;
  width: 130px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.button:hover
{
  background-color: rgba(255,255,255,.1);
}

.accountLink
{
  font-family: pt serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.accountLink:hover
{
  color: #5D6D7E;
}

.body
{
  background: #212F3C;
}
