.Box{
	width: 100%; 
	margin-top: 5%;
		display: flex;
	justify-content: center;
}

.registrationFont{
	margin-top: 7.5%;
	letter-spacing: 8px;

	font-size: 45px;
	font-family: Roboto;
	font-weight: bold;
	color: white;

	display: flex;
	justify-content: center;

}

/* form starting stylings*/
.group        { 
  position:relative; 
  margin-bottom:45px; 

}
input         {
	background: #212F3C;
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus     { outline:none; }

/* Label */
label          {
  color:white; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
}

/* active state */
input:focus ~ label, input:valid ~ label     {
  top:-20px;
  font-size:14px;
  color:white;
}

/* Underline */
.bar  { position:relative; display:block; width:315px; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:white; 
  transition:0.3s ease all; 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}


/* active state */
input:focus ~ label, input:valid ~ label {
  top:-20px;
  font-size:14px;
  color:white;
}

input, select, textarea
{
	color:white;
}


/*Buttons */

.buttonPosition{
	display:flex;
	justify-content: center;
	align-items: center;
	
	margin-top: 2.5%;
	margin-bottom: 7.5%;
	
}

.button{
	cursor: pointer;

	font-weight: bold;
	border:2px solid white;
	white-space: nowrap;
	background-color: #212F3C;


	font-size: 90%;
	color: white;
	width: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 20px;
	margin-right: 40px;

}

.button:hover{
	background-color: #5D6D7E;
}

.accountLink{
	font-family: pt serif;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

.accountLink:hover{
	color: #5D6D7E;
}


.body{
	background: #212F3C;
}
